<%= render '/shared/header_common_signed_out.html.erb' %>
<br/>
<br/>
Unlimited movies for only $9.99 a month.
<br/>
<br/>
<%= link_to "Sign up now!", register_path %>
<br/>
<br/>
Already have an account? <%= link_to "Sign in", sign_in_path %>

<h3>This is app/views/pages/front.html.erb</h3>
</div>