%section.site_title
	%h1
		Unlimited movies for $9.99 a month
		=link_to "Sign UP Now!", register_path
	%p.sign_up
	%p.sign_in
		Have an account? Please 
		=link_to "Sign in", sign_in_path
		%h1 This is front.html.haml